* {
  font-family: 'Roboto', sans-serif;
}

a {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m-right-15px {
  margin-right: 15px;
}

.m-right-30px {
  margin-right: 30px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #f6f7f9;
}

h1 {
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 3rem;
}

header {
  height: 100px;
  padding: 0 40px;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.fixed-container {
  max-width: 1500px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.first-block {
  height: 600px;
}

.first-block > div > p {
  margin-bottom: 30px;
}

.first-block > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url('img/man.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

section {
  padding: 40px;
}

.services, .my-works {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.my-works figure {
  margin: 0;
  width: 30%;
}

.my-works img {
  width: 100%;
  margin-bottom: 20px;
}

.services > div {
  width: 200px;
}

.services img {
  width: 150px;
}

.price-info {
  background-color: #3d52fe;
  color: white;
}

.light-button {
  border: 1px solid black;
  background-color: transparent;
}

.dark-button {
  background-color: #3d52fe;
  border: 1px solid #3d52fe;
  color: white;
}

button {
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 7px;        
}

/* FOOTER */

footer {
  padding: 40px;
}

footer > .fixed-container {
  display: flex;
  justify-content: space-between;
}

.footer-btn {
  margin-bottom: 50px;
  margin-left: 30px;
}

.icons {
  height: 17px;
}

.price-info h2, .price-info p {
  width: 50%;
}


.price-info p {
  font-size: 0.9rem;
  margin-top: 60px;
  margin-bottom: 40px;
}

/* FORM */

.popup-container {
  background-color: #000000b3;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 30px;
  border-radius: 5px;
}

input[type="submit"] {
  display: block;
  background-color: #3b3b4f;
  border-color: white;
  color: #fff;
  cursor: pointer;
}

form input {
  width: 97%;
  min-height: 2em;
  font-size: 1.5em;
  border-radius: 7px;
  outline: none;
}
